<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Detalles de Plato">
  <ion-content class="padding">
    <div class="list" ng-controller="MenuDetailCtrl as dishDetailsCtrl">
      <!-- 
        Sustituir el # por "{{dish.image}}" para las imagenes :$
      -->
      <h3 ng-model="dish.name">
        {{dish.name}}
      </h3>
      <img ng-src="{{dish.image || '/img/logo.png'}}" style="width: 64px; height: 64px" alt="Imagen Plato">
      <h4 ng-model="dish.type">
        {{dish.type}}
      </h4>
      <p ng-model="dish.description">
        {{dish.description}}
      </p>
      <h5 ng-model="dish.price">
        {{dish.price}}
      </h5>
      <label class="item item-input">
        <span class="input-label">Cantidad</span>
        <input type="number" name="quantity" ng-model="dish.quantity" min="1" max="15">
      </label>
      <button class="button button-full button-assertive" ng-click="addDish()">
        Agregar a Orden
      </button>
<!--       <ion-checkbox ng-model="addToOrder" ng-click="addDish(dish)">
        Agregar a Orden
      </ion-checkbox> -->
    </div>
  </ion-content>
</ion-view>