<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{dish.name}}">
  <ion-content class="padding">
    <!--
        Sustituir el #
        por "{{dish.image}}" para las imagenes :$
    -->
    <img ng-src="#" style="width: 64px; height: 64px" alt="Imagen Plato">
    <p>
      {{dish.description}}
    </p>
  </ion-content>
</ion-view>