<ion-view view-title="Detalle de Orden">
	<ion-content class="padding" ng-controller="OrderDetailCtrl as orderDetailsCtrl">
		<ion-toggle ng-model="shouldShowDelete">
			Eliminar
		</ion-toggle>
		<ion-list ng-repeat="plate in selectedDishes" show-delete="shouldShowDelete">
			<ion-item>
				<img ng-src="{{dish.image || '/img/logo.png'}}" alt="Foto Plato" style="width: 64px; height: 64px">
				<h3>
					{{plate.name}}
				</h3>
				<p>
					<strong>Cantidad: </strong>{{plate.quantity}}
				</p>
				<p>
					<strong>Precio: </strong>{{plate.price | number:2}}
				</p>
				<ion-delete-button class="ion-minus-circled" ng-click="deleteSelected(plate)">
				</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>