<ion-view view-title="Inicio">
  <ion-content class="splash padding">
    <div class="branding">
      <img src="#" alt="Abelinos Restaurant Logo">
    </div>
	<div class="list" ng-controller="StatusOrderCtrl">
		<div class="item item-divider">
			Estado de Orden
		</div>
		<label class="item item-input">
			<input type="text" placeholder="No. Cedula" ng-model="docID">
		</label>
		<a class="button icon-left ion-eye button-outline button-block button-assertive" ng-click="openModal()">Ver Estado</a>
	</div>
  </ion-content>
</ion-view>