<ion-view view-title="Orden">
  <ion-content >
	<div class="card" name="orderForm" ng-controller="OrderCtrl as ordersCtrl">
		<div class="item item-divider">
			Informacion del Cliente
		</div>
		<label class="item item-input">
			<span class="input-label">Cédula</span>
			<input type="text" ng-model="clientID">
		</label>
		<label class="item item-input">
			<span class="input-label">Nombre</span>
			<input type="text" ng-model="clientName">
		</label>
		<label class="item item-input">
			<span class="input-label">Email</span>
			<input type="email" ng-model="clientEmail">
		</label>
		<label class="item item-input">
			<span class="input-label">No. Tarjeta</span>
			<input type="text" ng-model="creditCard">
		</label>
		<label class="item item-input">
			<span class="input-label">Teléfono</span>
			<input type="tel" ng-model="clientPhone">
		</label>
		<label class="item item-input" ng-show="!forTakeOut">
			<span class="input-label">Dirección</span>
			<input type="text" ng-model="clientAddress">
		</label>
		<ion-checkbox ng-model="forTakeOut" ng-click="clearAddress()">
			Take-Out
		</ion-checkbox>
		<div class="item item-body">
			<h4>Subtotal: {{subtotal | number:2}}</h4>
			<h4>ITBIS: {{itbis | number:2}}</h4>
			<h3>Total: {{total | number:2}}</h3>
		</div>
		<div class="row">
			<div class="col">
				<a href="#/tab/order/detail" class="button icon-left ion-chevron-left button-clear button-dark">Ver Detalle</a>
			</div>
			<div class="col">
				<a class="button icon-right ion-android-restaurant button-clear button-dark" ng-disabled="orderForm.$invalid" ng-click="placeOrder()">Colocar Orden</a>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
