<div class="row">
	<div class="col-md-4 col-md-offset-4 box">
		<form action="/resetPassword?token=<%= token %>" method="POST" data-toggle="validator" novalidate>
			<input type="hidden" name="_csrf" value="<%= _csrf%>">
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password" required id="password">
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<label for="password_confirm">Confirme su password</label>
				<input type="password" class="form-control" name="password_confirm" placeholder="Confirme su Password" data-match="#password" id="password_confirm" required>
				<div class="help-block with-errors"></div>
			</div>
			<br>
			<button type="submit" class="btn btn-primary btn-md pull-right" value="Password Recovery">Recuperar</button>
		</form>
	</div>
</div>