<section class="container status-section" id="check-status-section">
    <div class="box">
        <h4>Revise su Orden</h4>
        <form action="order/status" method="GET">
          <div class="form-group">
            <label for="cedula">Cedula</label>
            <input class="form-control" id="cedula" type="text" name="clientID" placeholder="Ingrese su numero de cedula">
          </div>
          <button type="submit" class="btn btn-primary pull-right">Revisar</button>
        </form>
        <div class="clearfix"></div>
    </div>
</section>