<div class="container">
	<h2 class="mb10">Ordenes Listas</h2>
	<div class="row">
		<% _.each(orders, function(order){ %>
		<div class="col-md-4 col-md-offset-1 box order" id="order-<%= order.id %>">
			<h3>Orden #<%= order.id %></h3>
			<input type="checkbox" data-id="<%= order.id %>" class="order-status-btn done-btn" name="status" data-next-status="3">
			<ul class="mt10">
				<% _.each(order.dishes, function(orderDish){ %>
				<li>
					<span><%=dishes[orderDish.dish].name%></span>
				</li>
				<% }) %>
			</ul>
		</div>
		<% }) %>
	</div>
</div>