<h1>Para reiniciar su contraseña haga click en el link que aparece debajo</h1>

<p><a href="<%- resetURL %>"><%- resetURL %></a></p>

<p>Si usted no solicito este correo, por favor notifique al administrador</p>